// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

html, body {
    height: 100%;
    position: relative;
}

body {
    font-family: "Roboto", sans-serif;
}

.carousel-inner .carousel-item {
    width: 100%;
    min-height: 50vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ad1 {
    background: url(/img/BackgroundA.png) no-repeat center center fixed; 
}
.ad2 {
    background: url(/img/BackB-min.jpg) no-repeat center center fixed; 
}
.ad3 {
    background: url(/img/elearning-min.png) no-repeat center center fixed; 
}

.navbar {
    background-color:rgba(94, 39, 80, 0.85);
}

.navbar-brand {
    font-weight: 900;
    text-shadow: 2px 2px rgb(73, 8, 8);
    font-size: 1.4rem;
}

#logoM {
    height: 26;
}

#buscarC {
    width: 80%;
    margin-left: 20%;
}

/* Media queries */

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
    #buscarC {
        width: 84%;
        margin-left: 0;
        margin-bottom: 15px !important;
    }
    .carousel-inner .carousel-item {
        width: 100%;
        min-height: 100vh;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (max-width: 767.98px) and (orientation: landscape) {
    #buscarC {
        width: 85%;
        margin-left: 0;
        margin-bottom: 15px !important;
    }
    .carousel-inner .carousel-item {
        width: 100%;
        min-height: 100vh;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

